/* use this for title:
font-family: 'Permanent Marker', cursive;

use this for everything else:
font-family: 'Lato', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  background-image: url("img/bg-grayed-out.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

legend,
#results {
  margin: auto;
  max-width: 500px;
  padding: 5px;
}

#health-info-list > li,
#diet-info-list > li {
  display: inline-block;
  width: auto;
  border: 1px solid #bf3641;
  padding: 5px 10px;
  margin: 5px;
  background-color: #c4a745;
  border-radius: 5px;
}

.container,
.error-message {
  display: block;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}

legend {
    padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 200px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  font-family: "Permanent Marker", cursive;
  margin: 0 20%;
  color: #932a32;
}

p,
button,
footer,
input,
option {
  font-family: "Lato", sans-serif;
}

.ingredients-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button,
button,
.error-message {
  background: #932a32;
  color: #f2e399;
  border: 0px;
}

.button, button {
    padding: 7px 10px;
}

.button:hover,
button:hover {
  cursor: pointer;
}

button,
.recipe-source,
form,
#search-result,
legend,
div,
#listitem,
img,
.button,
.error-message {
  border-radius: 6px;
  font-size: 15px;
}

img {
  float: right;
  max-width: 35%;
  height: auto;
}

.recipe-label {
  max-width: 80%;
  font-size: calc(14px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

#overlay {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  cursor: pointer;
}

#listitem,
legend {
  background-color: rgba(255, 255, 255, 0.95);
}

.instructions, #input {
    margin: 20px;
}

.item {
  margin: 0px;
}

.search-result {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.expand-buttons {
  position: absolute;
  bottom: 0px;
  margin-left: 5px;
}

.health-info {
    margin-bottom: 1.5%;
}

#grocery {
  margin-left: 5px;
}

#listitem {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

iframe {
  width: 80vw;
  height: 80vh;
}

.hidden {
  display: none;
}

#results {
  margin-bottom: 35px;
}

#results-list {
  padding-left: 0px;
}

.recipe-source {
  display: inline-block;
  padding: 4px;
  background-color: #f4855d;
  margin-left: 5px;
  margin-top: 5px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: white;
}

.contact-info {
  font-size: 4rem;
  display: inline-block;
  margin: 0px;
}

.contact-list {
  list-style-type: none;
}

#contact-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.contact-info {
  font-size: 40px;
  padding-left: 6px;
  padding-right: 6px;
}
.copy {
  margin-top: 2px;
  margin-bottom: 2px;
}
